.container {
    position: relative;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 940px;
    margin: 0 auto;
    margin-left: 320px;
}

.footer {
    height: 40px;
    position: absolute;
    width: 100%;
}

.content {
    width: inherit;
    margin-top: 1%;
    height: 98%;
    -webkit-box-shadow: inset 0px 0px 45px -5px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: inset 0px 0px 45px -5px rgba(0, 0, 0, 0.9);
    box-shadow: inset 0px 0px 45px -5px rgba(0, 0, 0, 0.9);
    background-color: #f2efea;
}

.info-wrapper {
    width: inherit;
    margin-top: 5px;
    height: 30px;
    color: white;
    background: url('../img/footer-back.png');
    background-repeat: repeat-x;
    background-size: fit;
}

.author-info {
    padding-top: 7px;
    text-align: center;
    font-size: 14px;
}