.container {
    position: relative;
    padding-top: 50px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 940px;
    margin: 0 auto;
    margin-left: 320px;
}

.footer {
    height: 40px;
    position: absolute;
    width: 100%;
}

.header {
    font-weight: bold;
    top: 4px;
    height: 40px;
    position: absolute;
    width: 100%;
    overflow: visible;
}

.header-children-wrapper {
    -webkit-box-shadow: inset 0px 0px 28px -1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: inset 0px 0px 28px -1px rgba(0, 0, 0, 0.9);
    box-shadow: inset 0px 0px 28px -1px rgba(0, 0, 0, 0.9);
    background-color: #f2efea;
    height: 100%;
}

.content {
    width: inherit;
    height: 99%;
    -webkit-box-shadow: inset 0px 0px 45px -5px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: inset 0px 0px 45px -5px rgba(0, 0, 0, 0.9);
    box-shadow: inset 0px 0px 45px -5px rgba(0, 0, 0, 0.9);
    background-color: #f2efea;
    overflow: hidden;
}

.info-wrapper {
    width: inherit;
    margin-top: 5px;
    height: 30px;
    color: white;
    background: url('../img/footer-back.png');
    background-repeat: repeat-x;
    background-size: fit;
}

.author-info {
    padding-top: 7px;
    text-align: center;
    font-size: 14px;
}

.nav-menu-wrapper {
    padding-left: 10px;
    padding-top: 7px;
}

.bucket-wrapper {
    float: left;
    margin-left: 20px;
}

.bucket {
    height: 28px;
}
.bucket.empty {
    content: url('../img/bucket-empty.png');
}
.bucket.full {
    content: url('../img/bucket-full.png');
}

.logout-wrapper {
    float: right;
    margin-right: 20px;
    padding-top: 5px;
}

.logout-wrapper .logout-link,
.logout-wrapper .salutation-message {
    display: inline-block;
    margin: 0 5px;
}