.info-wrapper {
    width: inherit;
    margin-top: 5px;
    height: 30px;
    color: white;
    background: url('../img/footer-back.png');
    background-repeat: repeat-x;
    background-size: fit;
}

.author-info {
    padding-top: 7px;
    text-align: center;
    font-size: 14px;
}
.error-image {
    margin-top: 30px;
}