html, body, .container {
    height: 100%;
}

.side-strip-wrapper {
    position: absolute;
    top: 0;
    left: 40px;
    height: 100%;
    overflow: hidden;
    width: 250px;
}

.strip {
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    padding-left: 30px;
    margin-top: -10px;
}

.header, .footer, .content-wrapper {
    overflow: hidden;
}

.content-wrapper {
    height: 100%;
}

body {
    background: url('../img/back-line.jpg');
    background-size: 100%;
    font-family: 'Verdana';
}

.app-link:link,
.app-link:visited {
    text-decoration: none;
    color: blue;
}

.app-link:hover {
    text-decoration: underline;
    color: #000080;
}

.login-invitation {
    margin-bottom: 10px;
}

.app-input,
.app-button {
    font-size: 18px;
    padding: 4px;
    margin: 4px 0;
}

.registration-invitation-wrapper {
    margin-top: 5px;
    font-size: 18px;
}

.app-error-wrapper {
    padding: 100px 0 0 40px;
}

.app-error-wrapper .error-image {
    float: left;
    margin-right: 30px;
}
.app-error-wrapper .error-image img {
    width: 310px;
}

.app-error-wrapper .error-message {
    margin-top: 80px;
}

.app-error-wrapper .error-message .message-code {
    font-size: 96px;
    font-weight: bold;
}

.app-error-wrapper .error-message .message-text {
    margin: 30px 0;
    font-size: 28px;
}

.app-page-name-wrapper {
    margin-top: 25px;
    margin-left: 25px;
}

.app-page-name-wrapper .app-page-name {
    font-size: 26px;
    font-style: italic;
}

.app-splitter {
    padding-top: 1px;
}

.app-grid {
    width: 100%;
    border-collapse: collapse;
}

.app-grid td,
.app-grid th {
    border: 1px solid #686868;
    padding: 3px;
    word-wrap: break-word;
}

.app-grid th {
    font-size: 20px;
    color: #E8E8E8;
    border: none;
    background-color: rgb(94, 95, 94);
    text-align: center;
    padding: 5px 0;
}

.app-grid tr.white {
    background-color: #f0f0f0;
}
.app-grid tr.light-gray {
    background-color: #d2d2d2;
}

.app-pager {
    margin-top: 5px;
}

.app-pager .first-page,
.app-pager .prev-page,
.app-pager .next-page,
.app-pager .last-page {
    float: left;
    margin: 0 2px;
    background: url('../img/pager_sprite.png');
    width: 25px;
    height: 25px;
}

.app-pager .first-page:hover,
.app-pager .prev-page:hover,
.app-pager .next-page:hover,
.app-pager .last-page:hover {
    cursor: pointer;
}

.app-pager .first-page {
     background-position-x: 0px;
 }
.app-pager .prev-page {
    background-position-x: -25px;
}
.app-pager .next-page {
    background-position-x: -50px;
}
.app-pager .last-page {
    background-position-x: -75px;
}

.app-pager .page-numbers {
    float: left;
    font-size: 25px;
    margin: 0 10px;
}

i {
    font-style: italic;
}

b {
    font-weight: bold;
}

button a:link,
button a:hover,
button a:visited {
    color: black;
    text-decoration: none;
}