.site-name {
    text-align: center;
    font-size: 36px;
    padding-top: 40px;
}

.site-description {
    float: left;
    width: 60%;
    margin-left: 30px;
    text-align: center;
}

.description {
    font-size: 32px;
    padding: 10px 0;
}

.autorization-form-wrapper {
    float: right;
    margin-right: 30px;
    width: 30%;
}

.login-invitation {
    font-size: 20px;
}