.nav-menu {
	position: relative;
	margin: 0;
	padding: 0;
}

.nav-menu-item {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

.nav-menu-item:hover {
	background: rgba(250, 250, 250, 0.8);
}

.nav-item-link {
	display: block;
	color: #333;
	text-decoration: none;
	margin: 0 5px;
	padding: 5px;
}

.nav-menu .nav-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
    -webkit-box-shadow: inset 0px 0px 50px -1px rgba(100, 100, 100, 0.9);
    -moz-box-shadow: inset 0px 0px 50px -1px rgba(100, 100, 100, 0.9);
    box-shadow: inset 0px 0px 50px -1px rgba(100, 100, 100, 0.9);
    background-color: #f2efea;
	padding: 0
}

.nav-menu .nav-menu .nav-menu-item {
	float: none;
	width: 200px
}

.nav-menu .nav-menu-item:hover > .nav-menu {
	display: block;
}