.registration-header {
    text-align: center;
    font-size: 36px;
    padding-top: 40px;
}

.registration-fields {
    margin: 0 auto;
    width: 230px;
}

.register {
    float: right;
}