.basket-wrapper .basket-empty {
    text-align: center;
    font-size: 42px;
    font-style: italic;
    margin-top: 100px;
}

.basket-wrapper .basket-full {
    margin: 0 auto;
    margin-top: 25px;
    width: 900px;
}

.wish-list {
    width: inherit;
    max-height: 380px;
    overflow-y: auto;
}

.wish-list .list-item {
    position: relative;
    width: 750px;
    height: 150px;
    margin: 10px auto;
    border: 2px solid #979797;
    background-color: #e9e9e9;
}

.wish-list .list-item .remove-button {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 35px;
    height: 35px;
    content: url('../../img/red-cross.png');
}

.wish-list .list-item .poster {
    height: 130px;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 20px;
    border: 5px solid #5e5f5e;
    float: left;
    content: url('../../img/default_film_image.jpg');
}

.wish-list .list-item .info {
    font-size: 22px;
    margin: 20px 0;
}

.app-pager {
    margin-left: 65px;
}

.purchase-wrapper {
    margin-top: 20px;
}

.purchase-wrapper * {
    float: right;
}

.purchase-wrapper span {
    margin-top: 5px;
}

.purchase-wrapper .total-price {
    margin-right: 25px;
}