.film-wrapper {
    margin-top: 20px;
}

.left-panel,
.right-panel {
    float: left;
}

.left-panel {
    width: 300px;
}

.right-panel {
    width: 570px;
    text-align: justify;
}

.film-image {
    width: 180px;
    border: 5px solid gray;
    margin: 0 auto;
    margin-bottom: 10px;
    content: url('../../img/default_film_image.jpg');
}

.film-detail {
    margin-bottom: 20px;
    font-size: 16px;
}

.film-detail.description,
.film-detail.genres {
    line-height: 25px;
}