.film-wrapper {
    margin-top: 20px;
}

.form-wrapper {
    width: 250px;
    margin: 0 auto;
    margin-top: 40px;
}

.app-input {
    width: 250px;
}

.buttons-wrapper * {
    float: right;
}

.buttons-wrapper button {
    margin-right: 5px;
}