.user-details-wrapper {
    margin-left: 40px;
    margin-top: 25px;
    width: 250px;
    float: left;
}

.user-avatar {
    text-align: center;
}

.user-avatar img {
    margin: 0 auto;
    width: 136px;
    height: 170px;
}

.user-info {
    font-size: 20px;
    margin-top: 20px;
    text-wrap: normal;
    width: 235px;
}

.user-info .info {
    margin-bottom: 15px;
}

.user-orders {
    width: 615px;
    max-height: 530px;
    overflow-y: auto;
    margin-top: 25px;
}

.order-details {
    width: 580px;
    margin: 10px auto;
    background-color: #f0f0f0;
    border: 2px solid #cccccc;
    padding: 3px;
}

.order-details .films-list,
.order-details .general-info {
    margin-bottom: 15px;
}

.order-details .films-list *,
 .order-details .general-info * {
     margin: 5px 0;
 }

.order-details .total,
.order-details .films-list .film {
    text-align: right;
}